<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qw.download.manager">

    <application>
        <service
            android:name="com.qw.download.manager.DownloadService"
            android:exported="false" />
    </application>
</manifest>